<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <h1>Home</h1>
    <pre><code>
        <%= JSON.stringify(cars,undefined,2) %>
    </code></pre>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
    
    <!-- Bootstrap Scripts-->
    <%- include('./partials/scripts.ejs') %>
</body>
</html>